.heading{
    width: 80%;
    font-size: 22px;
}
body{
    color: white;
    background-color: green;
}
.name_of_objects {
    color: cadetblue;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result_ok, #acc_ok{
    color: chocolate;
}